doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/easyrtc/easyrtc.js')
    script(src='/easyrtc/easyrtc_ft.js')
    script(src='/lib/data_channel_fs.js')
    script(src='/js/share.js')

  body
    block content
